@model List<normari.Models.Timpi>


<div class="row">
    <div class="col-6 d-flex justify-content-end">
        <button class="btn btn-primary" id="start">Start</button>
    </div>
    <div class="col-6 d-flex justify-content-start">
        <button class="btn btn-danger" id="stop">Stop</button>
    </div>
</div>
<p>
    <a asp-controller="Timpis" asp-action="Create">Create New</a>
</p>
