
<div class="container">
    @* <div class="row">
        <input id="total-count" value="4" min="1" max="10" />
    </div> *@
    <div class="row p-4">
        <div class="col-12 d-flex justify-content-center">
            <h1>Stopwatch</h1>

        </div>
    </div>
    <div class="row px-4">
        <div class="col-12 d-flex justify-content-center">

            <p class="h1" id="display">00:00.00</p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-success btn-lg" id="start">Start</button>
        </div>
        <div class="col-6 d-flex justify-content-start">
            <button class="btn btn-danger btn-lg" id="stop">Stop</button>
        </div>
    </div>
    <div class="row px-4">
            @* <div class="col-5 d-flex justify-content-start">
            </div> *@
            <div class="col-12 d-flex justify-content-center">
            <input class="btn btn-primary btn-lg" type="button" onclick="MyFunction()" value="Send" />
            </div>
    </div>
    
    <div class="row px-4">
        <p class="h3" id="timp1"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp2"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp3"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp4"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp5"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp6"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp7"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp8"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp9"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp10"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp11"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp12"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp13"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp14"></p>
    </div>
    <div class="row px-4">
        <p class="h3" id="timp15"></p>
    </div>

</div>


    <script>
        // Initialize variables
        let isRunning = false;
        let startTime = 0;
        let stopTime = 0;
        let previous = 0
        let interval;
        let id = 0;
        let col = 0;
        let timpi = [];
        for (let i = 0; i < 15; i++)
            timpi[i] = []
        
        let nrOperatii = @ViewBag.op;
        let nid = @ViewBag.nid;
        timpi[15] = [];
        timpi[15][0] = nid;
    console.log(nrOperatii)
    console.log(nid)
        // Function to start or stop the stopwatch
        function startStop() {
            if (isRunning) {
                // clearInterval(interval);
                // document.getElementById("start").textContent = "Start";
                // previous = Date.now() - startTime;
                lap();

            } else {
                // nrOperatii = document.getElementById("total-count").value;
                startTime = Date.now() - previous;
                interval = setInterval(updateTime, 10);
                document.getElementById("start").textContent = "Lap";
            }
                document.getElementById("stop").textContent = "Stop";
            isRunning = true;
        }

        function stringify(time) {
            const minutes = Math.floor(time / 60000);
            const seconds = Math.floor((time % 60000) / 1000);
            const milliseconds = Math.floor((time % 1000) / 10);
            return  `${padTime(minutes)}:${padTime(seconds)}.${padTime(milliseconds)}`;
        }

        // Function to update the displayed time
        function updateTime() {
            const currentTime = Date.now() - startTime;
            const minutes = Math.floor(currentTime / 60000);
            const seconds = Math.floor((currentTime % 60000) / 1000);
            const milliseconds = Math.floor((currentTime % 1000) / 10);
            timpi[id][col] = currentTime;
            const timeString = `${padTime(minutes)}:${padTime(seconds)}.${padTime(milliseconds)}`;
            document.getElementById("display").textContent = timeString;
        }

        // Function to pad time values with leading zeros
        function padTime(value) {
            return value.toString().padStart(2, '0');
        }

        // Function to reset the stopwatch
        function reset() {
            clearInterval(interval);
            document.getElementById("display").textContent = "00:00.00";
            document.getElementById("start").textContent = "Start";
            isRunning = false;
            startTime = 0;
            previous = 0;
            id = 0;
            col = 0;
            for(let i = 0; i < 15; i++)
            document.getElementById("timp" + (i+1)).textContent = '';

    }

        function lap() {
            let row = (id+1) + ". ";
            for (let i = 0; i <= col; i++)
                row += stringify(timpi[id][i])+"    ";
            document.getElementById("timp" + (id+1)).textContent = row;
            // document.getElementById("timp" + id).textContent = nrOperatii;
            col++;
            if(col >= nrOperatii){
                col = 0;
                id++;
                if (id >= 15){
                    id--;
                clearInterval(interval);
                }
            }
        }

        function stop(){
            if (isRunning) {
                clearInterval(interval);
                document.getElementById("start").textContent = "Start";
                previous = Date.now() - startTime;
                document.getElementById("stop").textContent = "Reset";
            }
            else {
                reset()
            }
            isRunning = false;
        }

    function MyFunction() {
        let data = timpi;
        for (let i = 14; i >= 0; i--) { 
            for (let j = nrOperatii - 1; j >= 0; j--) { 
                if (j > 0) {
                    data[i][j] = data[i][j] - data[i][j - 1]
                }
                else if (i > 0) {
                    data[i][j] = data[i][j] - data[i-1][nrOperatii-1]
                }
            }
        }
        
        let json = JSON.stringify(data);


        console.log(json.length)
        const sendObj = { id: 0, order: data };
        console.log(data);
        $.ajax({
            url: '@Url.Action("Send", "Timpis")',
            type: 'POST',
            contentType: "application/json;charset=UTF-8",
            data: json,
            dataType: 'json',
            // contentLength: 29,
            success: function () {
                alert("Thanks!");
            },// This Code lets you to change url howyouwant
                error: function () {
                alert("Error!");
            }
            });
        return false;
    }


        // Event listeners for buttons
        document.getElementById("start").addEventListener("click", startStop);
        document.getElementById("stop").addEventListener("click", stop);
        // document.getElementById("lap").addEventListener("click", lap);
        // for (let i = 1; i <= 15; i++)
        //     console.log(timpi[i])
    </script>